body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }



  .seccion-1 {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    padding: 2em;
  }


.acerca-de{
    justify-content: space-between;
}

.parrafo1{
    justify-content: center;
}

.parrafo2{
    justify-content: center;
}

  @media (max-width:768px)
{
    .acerca-de{
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        align-items: center;
        padding: 2em;
    }
}

  .acerca-imagen img /*se agrego tipo de objeto para poder definir tamano*/
  { max-height: 100%;max-width: 100%; }


  .seccion-2 img { 
    width: 100%}

ol,ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:768px)
{
    header{
        background-color: grey;
    }
}


header a i {
    color: skyblue;
    padding: 1.0em
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.1em;
    padding: 1.0em;
}

header nav ul li {
    color: skyblue;
}

footer {
    background-color: black;
}


footer h4{
    color: skyblue;
    padding: 1.0em;
}

footer ul {
    color: skyblue;
    gap: 1.0em;
}

footer ul li a{
    color: white;
}


.seccion-3 {
    background-color: #eeeeee;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }


.photo-grid-container {
    display: flex;
    justify-content: space-around;
  }

.photo-grid-image img {
        width: 180px;
        height:  300px;
        border: 5px solid #fff;
  }

.title{
    text-align: center;
}

.fa-solid.fa-heart.fixed {
    position: fixed;
    bottom: 22px;
    right: 39px;
}



.seccion-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;    
}

.grupo-trabajo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que los grupos se envuelvan en varias filas */
    margin-bottom: 20px; /* Ajusta el espacio entre los grupos según tus necesidades */
    align-items: stretch;
  }
  
  .grupo-trabajo > div {
    width: 48%; /* Ajusta el ancho de cada div según tus necesidades */
  margin: 40px;
  display: flex;
  flex-direction: column;
  }

  
.Testing-de-software {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 800px;
    height: 600px;   
}

.Automatizacion-de-pruebas {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 800px;
    height: 600px;   
}
  

.Desarrollo-web {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 800px;
    height: 600px;   
}

.Lorem-ipsum {
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 800px;
    height: 600px;   
}


.chart-photo{
    
    flex: none;
    height: 250px;
   /* overflow: hidden;  --esto no deja que la imagen se expanda mas alla de su tamaño proporcionado*/
    position: relative;
    width: 100%;
    will-change: var(--framer-will-change-override, transform);
}
.chart-photo img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
    transition: transform 0.3s ease; /* Agrega una transición suave al hacer hover */
}
.chart-photo:hover img {
  transform: scale(1.1);
}


.content-testing{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    height: auto;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 100%;
}


.content-descrip{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  height: auto;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
}

.title-jobs {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  opacity: 1;
  transform: perspective(1200px);
}

.title-jobs h4{
  font-size: 30px;
  letter-spacing: -0.7px;
  line-height: 1.5em;
  color: skyblue;
}

.subtitle-jobs {
    height: 100px; /*ANALIZAR MEJOR SOLUCION PARA TENER UN TAMAÑO MAS AJUSTADO */
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  opacity: 1;
  transform: perspective(1200px);
  
}

.subtitle-jobs p{
font-size: 20px;
font-weight: 500;
letter-spacing: -0.5px;
line-height: 1.4em;
text-align: justify;
color:  rgb(133, 127, 132);
}

/* ------------- Encabezado Contacto ------------- */
  
  
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h5 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (max-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
  
  @media only screen and (min-width: 700px) {
  .form-row textarea {
      min-width: 400px;
    }
   }
 .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color: #5995da;
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button:hover {
        background-color: #76aeed;
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      
      /* ------------- Para Pantallas de más de 700px ------------- */
      
      
      .form-row button {
          margin-left: 120px;}


.greeting{
  color: white;
  font-size: 20px;
  height: 50px;
  background: #0d2f57;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


